<h2>Planning</h2>

<input id="nom" placeholder="Nom">
<input id="client" placeholder="Client">
<input id="duree" placeholder="Durée">
<input id="deadline" placeholder="JJMMAAAA">
<button onclick="addTask()">Ajouter</button>

<h3>Tâches</h3>
<div id="tasks"></div>

<h3>Congés</h3>
<input id="holiday">
<button onclick="addHoliday()">Ajouter</button>
<ul id="holidayList"></ul>

<h3>Paramètres</h3>
<textarea id="settingsBox"></textarea>
<button onclick="saveSettings()">Sauvegarder</button>

<script src="/static/app.js"></script>
