<!DOCTYPE html>
<html>
<head>
  <title>Planning</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    body {
      font-family: Arial;
      margin: 10px;
    }

    .task {
      margin: 6px 0;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    .termine {
      background: #e0e0e0;
      opacity: 0.7;
    }

    input, button {
      margin: 5px;
      padding: 8px;
    }
  </style>
</head>

<body>

<h2>Planning</h2>

<input id="nom" placeholder="Nom tâche">
<input id="duree" placeholder="Durée">
<input id="deadline" placeholder="JJMMAAAA">

<button onclick="addTask()">Ajouter</button>

<div id="tasks"></div>

<script src="/static/app.js"></script>

</body>
</html>
